//IMPORTS
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;1,900&display=swap');

@font-face {
    font-family: "Convalescence";
    src: url("./assets/convalescence.eot?") format("eot"), url("./assets/convalescence.woff") format("woff"), url("./assets/convalescence.ttf") format("truetype"), url("./assets/convalescence.svg#Convalescence") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Burton's Nightmare 2000";
    src: url("./assets/Burton_s_nigthmare2000.eot?") format("eot"), url("./assets/Burton_s_nigthmare2000.woff") format("woff"), url("./assets/Burton_s_nigthmare2000.ttf") format("truetype"), url("./assets/Burton_s_nigthmare2000.svg#Burton'sNightmare2000") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "TRON";
    src: url("./assets/TRON.eot") format("eot"), url("./assets/TRON.woff") format("woff"), url("./assets/TRON.ttf") format("truetype"), url("./assets/TRON.svg#TRON") format("svg");
    font-weight: normal;
    font-style: normal;
}

//root
:root {
    --red: #df105c;
}

//RESETS
* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

p,
li,
a,
h1,
h2,
h3,
h4,
h4,
h5,
h6 {
    font-size: 1.3em;
}

a:hover {
    cursor: pointer;
}

//NAV
nav {
    z-index: 500;
    width: 100%;
    position: fixed;
    top: 0;
    backdrop-filter: blur(6.5px);
    min-height: 70px;
    font-size: 1.2em;
    color: var(--red);
    display: flex;
    justify-content: space-between;
    align-items: center;

    ul {
        font-weight: 900;
        display: flex;
        flex-direction: row;

        li {
            transition: 0.5s;
            list-style: none;
            margin-right: 40px;

            a {
                text-decoration: none;
                font-size: 1.2em;
                font-weight: 900;
                color: var(--red);
            }
        }
    }

    header {
        margin-left: 2%;
        display: flex;
        align-content: center;

        a {
            transition: 0.5s;
        }
    }

    li:hover {
        transform: scale(1.3, 1.3);
        cursor: pointer;
    }

    a.name,
    a.name:visited {
        font-family: "TRON";
        color: var(--red);
        text-decoration: none;
        font-size: 1.3em;

    }

    a.name:hover {
        transform: scale(1.2, 1.2);
        cursor: pointer;
    }

}

.cover {
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./assets/bandasCover.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    h1 {
        font-family: "TRON";
        color: var(--red);
        font-size: 5em;
    }

    p {
        margin-top: 10vh;
        font-size: 2em;
        color: var(--red);
        font-weight: 900;
    }
}

.artists {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
        font-size: 2em;
        color: var(--red);

        span {
            font-family: "TRON";
        }
    }
}

.gallery {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    article {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1%;
        width: 30%;
        position: relative;

        img {
            z-index: 3;
            transition: 0.4s;
            width: 100%;
            height: auto;
            border-radius: 100%;
        }

        img:hover {
            border-radius: 0%;
        }

        h3 {
            position: absolute;
            color: var(--red);
            display: none;
        }

        .white {
            z-index: 0;
            transition: 0.4s;
            position: absolute;
            width: 101%;
            height: 101%;
            border-radius: 100%;
        }
    }

    article:hover {
        .white {
            z-index: 50;
            display: block;
            background-color: var(--red);
            border-radius: 0%;
        }

        h3 {
            z-index: 70;
            display: block;
            color: white;
        }

    }
}

//Media Queries
@media (max-width: 1440px) {

    nav {
        header {
            a.name {
                font-size: 2em;
            }
        }

        ul {
            li {
                a {
                    font-size: 1.5em;
                }
            }
        }
    }

    .cover p {
        font-size: 2em;
    }

    .artists {
        h2 {
            font-size: 2.5em;
        }
    }

}

//Burger Settings
.burgerLabel2 {
    display: none;
}

.burgerLabel {
    display: none;
}

#burger {
    display: none;
}

//END Burger Settings






@media (max-width: 1024px) {
    .burgerLabel {
        display: inline-block;
        background-image: url(./assets/bars.svg);
        background-repeat: no-repeat;
        filter: invert(18%) sepia(51%) saturate(7496%) hue-rotate(329deg) brightness(88%) contrast(98%);
        width: 75px;
        height: 75px;
    }

    .burgerLabel2 {
        color: white;
        display: inline-block;
    }

    nav ul {
        transition: 0.3s;
        display: none;
    }

    #burger:checked~ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;

        position: absolute;
        top: 0;
        left: 0;

        width: 100vw;
        height: 100vh;
        background-color: var(--red);
        z-index: 100;

        li a {
            color: white;
            margin-left: 1%;
        }

    }

}

@media (max-width: 768px) {
    .cover {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h1 {
            font-size: 2.3em;
            margin-top: 0;
        }

        p {
            margin-top: 0;
            font-size: 1.5em;
        }
    }

}

@media (max-width: 480px) {



    nav {
        header a.name {
            font-size: 1.3em;
        }

        .burgerLabel {
            width: 50px;
            height: 50px;
        }
    }

    .cover {
        width: 100vw;

        h1 {
            font-size: 2.3em;
        }

        p {
            font-size: 1em;
        }
    }

    main.artists {
        width: 100vw;

        h2 {
            font-size: 1.2em;
            span {
                font-size: 1em;
            }
        }

        h3 {
            font-size: 1em;
        }
    }

}