@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;1,900&display=swap");
@font-face {
  font-family: "Convalescence";
  src: url("./assets/convalescence.eot?") format("eot"), url("./assets/convalescence.woff") format("woff"), url("./assets/convalescence.ttf") format("truetype"), url("./assets/convalescence.svg#Convalescence") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Burton's Nightmare 2000";
  src: url("./assets/Burton_s_nigthmare2000.eot?") format("eot"), url("./assets/Burton_s_nigthmare2000.woff") format("woff"), url("./assets/Burton_s_nigthmare2000.ttf") format("truetype"), url("./assets/Burton_s_nigthmare2000.svg#Burton'sNightmare2000") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "TRON";
  src: url("./assets/TRON.eot") format("eot"), url("./assets/TRON.woff") format("woff"), url("./assets/TRON.ttf") format("truetype"), url("./assets/TRON.svg#TRON") format("svg");
  font-weight: normal;
  font-style: normal;
}

:root {
  --red: #df105c;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

p, li, a, h1, h2, h3, h4, h4, h5, h6 {
  font-size: 1.3em;
}

a:hover {
  cursor: pointer;
}

nav {
  width: 100%;
  position: fixed;
  top: 0;
  -webkit-backdrop-filter: blur(6.5px);
          backdrop-filter: blur(6.5px);
  min-height: 70px;
  font-size: 1.2em;
  color: var(--red);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav ul {
  font-weight: 900;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

nav ul li {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  list-style: none;
  margin-right: 40px;
}

nav header {
  margin-left: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
}

nav header a {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

nav li:hover {
  -webkit-transform: scale(1.3, 1.3);
          transform: scale(1.3, 1.3);
  cursor: pointer;
}

nav a.name,
nav a.name:visited {
  font-family: "TRON";
  color: var(--red);
  text-decoration: none;
  font-size: 1.3em;
}

nav a.name:hover {
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
  cursor: pointer;
}

main .cover {
  background-image: url(/assets/party.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .cover h1 {
  margin-top: 40vh;
  color: var(--red);
  font-size: 6em;
  font-family: "TRON";
}

main .cover p {
  margin-top: 50vh;
  font-size: 2em;
  color: var(--red);
  font-weight: 900;
}

main .about {
  margin-top: 10vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

main .about h3 {
  font-size: 2em;
  color: var(--red);
}

main .about .what {
  font-family: "TRON";
  font-size: 5em;
  color: var(--red);
}

main .about p {
  max-width: 40%;
}

main .about figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2%;
}

main .about figure img {
  width: 30%;
  height: auto;
  border-radius: 50%;
  margin: 3%;
  border: 2px dotted var(--red);
}

main .about figure figcaption {
  max-width: 30%;
  height: 20vh;
}

main .about figure .vl {
  height: 20vh;
  width: 2px;
  background-color: var(--red);
}

.numbers {
  width: 90%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.numbers .number {
  padding: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 10%;
  height: 20vh;
  border-radius: 50%;
  border: 2px solid var(--red);
}

.numbers .number h2 {
  font-size: 4em;
}

.numbers .number .text {
  font-family: 'Montserrat', sans-serif;
  width: 200%;
  font-size: 2em;
  text-align: center;
}

.wait {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 4%;
  padding-bottom: 2%;
  margin-bottom: 2%;
  border-bottom: 2px solid var(--red);
}

.wait h2:first-of-type {
  font-size: 1.5em;
  margin-bottom: 2%;
}

.wait article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wait article img {
  width: 40%;
  height: auto;
  border-radius: 50%;
}

.wait article .desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 30%;
}
/*# sourceMappingURL=style.css.map */